# SPDX-License-Identifier: GPL-2.0-only
# Versions used for the HTML documentation.  jieba is what lets the
# search box find Chinese words; without it only Latin terms are indexed.
sphinx==9.1.0
alabaster==1.0.0
jieba==0.42.1
